body {
  background-color: rgba(12, 6, 44, 0.8);
}
a {
  font-size: 30px;
  color: #ffffff;
}

div {
  padding: 10px;
  margin: 15px;
}
label {
  color: #ffffff;
  font-size: 25px;
}
input {
  font-size: 20px;
  width: 40%;
}
button {
  font-size: 20px;
  background-color: darkslategrey;
  color: white;
  border: solid 0px;
  border-radius: 4px;
}
p {
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
