body {
  background-color: rgba(12, 6, 44, 0.8);
}
.numer {
  font-size: 20px;
  color: #ffffff;
}
.entrada {
  margin-top: 5px;
  font-size: 20px;
}
button {
  font-size: 20px;
  background-color: darkslategrey;
  color: white;
  border: solid 0px;
  border-radius: 4px;
}
a{
  
  font-size: 30px;
  color: #ffffff;
}
label{
  color: #ffffff;
  font-size: 20px;
}
div{
  margin: 20px;
}
select{
  font-size: 15px;
}
#precios{
  width: 50%;
  margin: auto;
  color: #ffffff;
  background-color: #246092;
}
p{
  padding: 10px;
  text-align: center;
}
h3{
  padding: 10px;
  text-align: center;
}